# Dependency Directories
node_modules/
dist/
build/
.app_build/

# Docker
.docker/
*.log

# Environment Variables (Sangat penting agar rahasia tidak bocor)
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# C++ Build Artifacts
be-stream-radar-cpp/RadarPublisher
be-stream-radar-cpp/*.o
be-stream-radar-cpp/*.out
be-stream-radar-cpp/bin/
be-stream-radar-cpp/obj/

# MacOS
.DS_Store

# Rspack / Webpack
fe-stream-radar-webdds/dist/
fe-stream-radar-webdds/.rspack/

# Private Metadata
.sixth/
